<%= form_with(model: [recipe, comment], local: true) do |form| %>
  <div class="form-group">
    <%= form.text_field :content, autocomplete: "off",  class: "form-control" %>
  </div>
 
  <div class="actions">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
<% end %>
