<h1>Cookbook!</h1>

<% @user_recipes.each do |user_recipe| %>
  <p>
    <%= link_to user_recipe.recipe.name, user_recipe.recipe%>
    <%= react_component 'UserRecipe', props: { recipe: user_recipe.recipe, inCookbook: true } %>
  </p>
<% end %>
