<h1><%= @recipe.name %></h1>

<p>
  Recipe Details
  <%= @recipe.recipe_details %>
</p>

<%= render './comments/form', recipe: @recipe, comment: @comment %>

<% @recipe.comments.each do |comment| %>
  <p>
    <%= comment.content %>
    
<% end %>