// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#category-show-contents {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 5px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 980px) {
  .category_page {
    width: 120%
  }
}