.forgot-your-password{
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  height: 500px;
  width: 30%;
  margin-top: 20%;
  margin-left: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input:focus{
  outline-color: green !important;
}
form-group:a {
  color: green;
}
.link-color{
  color:green;
}