.index_page {
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.96)
}

.category-container, .pic-row {
  text-align: center;
  display: flex;
}

.pic-wrapper{
  width: 275px; 
  height: 275px; 
  overflow: hidden; 
  margin: 2px;
}

.featuredimage-container{
  position: relative;
}

.rp{
  transition: transform .3s; /* Animation */
  width: 275px;
  height: 275px;
}

.rp:hover{
  transform: scale(1.25);
}

.rp-show{
  transition: transform .3s; /* Animation */
  width: 275px;
  height: 275px;
  z-index: 2
}

.rp-show:hover{
  transform: scale(1.05);
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 0px;
  color: black;
  background: rgba(255, 255, 255, 0.65);
  font-size: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
}

.featured_image {
  max-height: 500px;
  width: 100%;
  text-align: center;
  object-fit: fill;
}

.featured_recipe {
  height: 250px;
  width: 300px;
  border: solid 1px black;
}

section {
 width:100%;
 margin: 0 auto;
 white-space:nowrap; 
 overflow: scroll;
}

.category-container {
  width: 100%;
}

.category-show-link {
  position: relative;
  text-align: center;
  margin: 10px;
  img {
    width: 100%;
    height: 100%;
  }
  .category-recipe-tittle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: -2;
  }
  &:hover > .overlay {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background-color:#000;
    opacity:0.4;
    transition: 0.5s;
    transform: scale(1.05);
  }
  &:hover > .category-recipe-tittle {
    z-index: 2;
  }
  &:hover > img {
    transform: scale(1.05);
    transition: 0.5s
}
}
