.index_page {
  margin: 20px;
  padding: 20px;}

.category-container, .pic-row {
  text-align: center;
  display: flex;
}

.section-title {
font-size: 2.0rem;
padding: 10px 0;
}

.header {
text-align: center;
}

.pic-wrapper{
  width: 275px; 
  height: 275px; 
  overflow: hidden; 
  margin: 2px;
}

.featuredimage-container{
  position: relative;
  padding-bottom: 10px;
}

.rp{
  transition: transform .2s; /* Animation */
  width: 275px;
  height: 275px;
}

.rp:hover{
  transform: scale(1.25);
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 80px;
  right: 0px;
  color: black;
  background: rgba(255, 255, 255, 0.65);
  font-size: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
}

.featured_image {
  max-height: 500px;
  width: 100%;
  text-align: center;
  object-fit: fill;
}

.featured_recipe {
  height: 250px;
  width: 300px;
  border: solid 1px black;
}

section {
 width:100%;
 margin: 0 auto;
 white-space:nowrap; 
 overflow: scroll;
}

.category-container {
  width: 100%;
}
