.log-in{
background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  height: 500px;
  width: 50%;
  margin-top: 15%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input:focus{
  outline-color: green !important;
}