.admin_table, th, td {
  border: 1px solid black;
}

.admin_table {
  border-collapse: collapse;
  text-align: center;
  width: 100%
}

.admin_table, th, td {
  border: 1px solid black;
}

th {
  height: 50px;
}
