body {
  font-family: 'Nunito Sans', sans-serif;
  background-image: linear-gradient(to bottom, #8ed47b, #a2cf60, #b9c844, #d1be2a, #ebb212);
}

.table thead th {
  border: 1px solid black;
}

.admin_table, .admin_table th, .admin_table td {
  border: 1px solid black;
}

.admin_table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  background-color: white;
}

trix-editor {
  border: 1px solid black !important;
  background-color: whitesmoke
}

trix-toolbar .trix-button-group {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 3px;
}

trix-toolbar .trix-button {
    position: relative;
    float: left;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1em;
    font-weight: 600;
    white-space: nowrap;
    padding: 0 0.5em;
    margin: 0;
    border-color: black !important;
    border-bottom: none;
    border-radius: 0;
    background: white;
}

.fa-star{
  font-size: 30px;
  color: white;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
    1px 1px 0 #000;
  margin: 3px;
}

.fa-star.clickable{
  cursor: pointer;
}

.checked {
  color: orange;
}

#recipe-index-head{
  margin: 20px 0 20px 0;
  text-align: center;
}

#category-show-head{
  margin: 20px 0 20px 0;
  text-align: center;
}

#category-index-head{
  margin: 20px 0 20px 0;
  text-align: center;
}

#category-show-list{
  margin-bottom: 20px;
}

#new-recipe-head{
  text-align: center;
  margin-top: 20px
}

.recipe_video {
  height: 100px;
  padding: 10px;
}

.admin_table th {
  height: 50px;
}

.recipe-link{
  color: rgb(26, 164, 26);
}

.recipe-link:hover{
  text-decoration: underline;
}

.recipe-page {
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.99)
}

.cuisine {
  padding-top: 50px;
}
/*.recipe-difficulty, .nutrition, .nutrition-disclaimer, .cuisine {
  margin-left: 50px;
}*/

.cookbook{
  float: right;
}

.recipe_image{
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.recipe-name {
  font-weight: bold;
}

.recipe-column {
  float: left;
  width: 50%;
  padding-top: 25px;
}

.recipe-row:after {
  content: "";
  display: table;
  clear: both;
}

.show_video {
  height: 500px;
  padding: 10px;
  margin-bottom: 25px;
}

.serving-size {
  font-size: 18px;
  font-style: italic;
}

/*.featured_image {
  padding: 50px;
  background-color: green;
  transition: transform .2s; 
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.featured_image:hover{
  transform: scale(1.5);
}*/

.nutrition li{
  padding: 0;
  list-style-type: none;
  font-size: 16px;
}

.instructions{
  padding: 10px;
  text-align: left;
}

.cook-time {
  font-size: 20px;
}

.nutrition-disclaimer {
  color: gray;
  font-size: 12px;
}

.rating {
   float: right
}

.container{
  margin-bottom: 100px
}
