.admin_table, th, td {
  border: 1px solid black;
}

.admin_table {
  border-collapse: collapse;
  text-align: center;
  width: 100%
}

.admin_table, th, td {
  border: 1px solid black;
}

.admin_table th {
  height: 50px;
}

.recipe_image{
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.recipe_video{
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.container{
  
}