.title{
  text-align: center;
}
.cookbook-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.all{
  color: black;
  padding: 20px;
  padding-right: 150px;
  padding-left: 150px;
  padding-top: 27px;
}

a:link{
  text-decoration: none;
}

.recepie{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.image{
  display: flex;
  width: 350px;
  background-color: gray;
  align-items: flex-end;

}

.my-btn{
  font-size: 10px;
  color: red;
  height: 25px;
  width: 70px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: whitesmoke;
  opacity: 0.8;
  border: 1px solid black;
  outline: none;
  border-radius: 20px;
  z-index: 10;
}

.my-btn:hover{
  transition: .1s;
  width: 100px;
}

.my-btn:focus{
  outline: none;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.name-category{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name{
  font-size: 25px;
}
.time-difficulty{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.nutrients{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.checked{
  color: orange;
}

.fa-star{
  font-size: 20px;

  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
    1px 1px 0 #000;
  margin: 3px;
}
