.title{
  text-align: center;
  @media screen and (max-width: 1100px){
    margin-left: 80px;
  }
}
.cookbook-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.all{
  color: black;
  padding-right: 125px;
  padding-left: 125px;
  padding-top: 15px;
  @media screen and (max-width: 1100px){
   padding-left: 80px;
  }
}

a:link{
  text-decoration: none;
}

.recepie{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  min-height: 215px;
  @media screen and (max-width: 1100px){
    min-height: 190px;
   }
}

.image{
  display: flex;
  width: 350px;
  background-color: gray;
  align-items: flex-end;

}

.my-btn{
  font-size: 10px;
  color: black;
  height: 20px;
  width: 60px;
  margin-left: 5px;
  margin-bottom: 5px;
  background-color: #83B64B;
  opacity: 0.9;
  border: 1px solid black;
  outline: none;
  border-radius: 20px;
  z-index: 10;
}

.my-btn:focus{
  outline: none;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  background-color: white;
}

.name-category{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name{
  font-size: 24px;
  @media screen and (max-width: 1100px){
    font-size: 20px;
   }
}
.time-difficulty{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.nutrients{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  @media screen and (max-width: 1100px){
    font-size: 13px;
    padding: 5px;
  }
}

.checked{
  color: orange;
}

.fa-star{
  font-size: 20px;
  @media screen and (max-width: 1100px){
    font-size: 14px;
  }

  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
    1px 1px 0 #000;
  margin: 3px;
}

.empty-cookbook{
  margin-top: 200px;
  text-align: center;
}

#all-cats{
  @media screen and (max-width: 1100px) {
    font-size: 14px;
  }
}
