<% if notice %>
      <div>
        <%= notice %>
      </div>
    <% end %>

<h1>Categories table</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Edit</th>
      <th>Delete?</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category_path(category)%></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category_path(category),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
