<div class="category_page">
<h1 id="category-show-head"><%= @category.name.capitalize %> Recipes </h1>
<div id= "category-show-contents">
  <% @category.recipes.each do |recipe| %>
    <% if recipe.image.attached? %>
      <%= link_to recipe, class: "category-show-link" do %>
        <%= image_tag recipe.image.variant(resize_to_limit: [500, 500]), class: "rp-show" %>
        <span class='overlay'></span>
        <span class="category-recipe-tittle"><%= recipe.name.titleize %></span>
      <% end %>
    <% end %>   
  <% end %>
</div>
