<div class="category_page">
<h1 id="category-show-head"><%= @category.name.capitalize %> Recipes </h1>

<<<<<<< HEAD
<div id= "category-show-contents">
  <% @category.recipes.each do |recipe| %>
    <% if recipe.image.attached? %>
      <%= link_to recipe do %>
        <%= image_tag recipe.image.variant(resize_to_limit: [500, 500]), class: "rp" %>
      <% end %>
    <% end %>  
  <% end %>
</div>
=======
<h3 id="category-show-list">Recipes in this Category</h3>
<% @category.recipes.each do |recipe| %>
  <p>
    <%= link_to recipe.name, recipe %>
  </p>
<% end %>

  
>>>>>>> pulling from master
