<div class="category_page">
<h1 id="category-show-head"><%= @category.name.capitalize %> Recipes </h1>
<div id= "category-show-contents">
  <% @category.recipes.each do |recipe| %>
    <% if recipe.image.attached? %>
      <%= link_to recipe do %>
        <%= image_tag recipe.image.variant(resize_to_limit: [500, 500]), class: "featured_recipe" %>
      <% end %>
    <% end %>  
  <% end %>
</div>
