<h1><%= @category.name %></h1>

<table class="admin_table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @category.name %></td>  
    </tr>
  </tbody>
</table>