<div class="category_page">
<h1 id="category-show-head"><%= @category.name.capitalize %> Recipes </h1>

<h3 id="category-show-list">Recipes in this Category</h3>
<% @category.recipes.each do |recipe| %>
  <p>
    <%= link_to recipe.name, recipe %>
  </p>
<% end %>

  